[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
[submodule "edidor"]
	path = edidor
	url = https://github.com/jacobsun/edidor

[submodule "even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even